<div data-role="navbar" data-iconpos="left">
<ul>
	<li>
		<a href="#stream-list" data-theme="a" data-icon="plus" data-iconpos="left" data-role="button" data-mini="true"> Stream </a>
	</li>
	<li>
		<a href="#patterns-search" data-theme="a" data-icon="search" data-iconpos="left" data-role="button" data-mini="true"> Patterns </a>
	</li>
	<li>
		<a href="#yarns-search" data-theme="a" data-icon="search" data-iconpos="left" data-role="button" data-mini="true"> Yarns </a>
	</li>
	<li>
		<a href="#queue-list" data-theme="a" data-icon="grid" data-iconpos="left" data-role="button" data-mini="true"> Queue </a>
	</li>
	<li>
		<a href="#shoppinglist-list" data-theme="a" data-icon="check" data-iconpos="left" data-role="button" data-mini="true"> Shop </a>
	</li>

</ul>
</div>